@model PagedViewModel<Product>


                            @foreach (var item in Model.Items)
                            {
                                <li class="product-item col-lg-4 col-md-5 col-sm-4 col-xs-6" data-gender="@item.Category?.Name" data-id="@if (item.Category.ParentId != null)
                                                                {
                                                                    @item.Category.ParentId
                                                                }
                                                                else
                                                                {
                                                                    @item.CategoryId
                                                                }">
                                    <div class="contain-product layout-default">
                                        <div class="product-thumb">
                                            <a asp-action="details"  asp-route-id="@item.Id">
                                                <img src="~/uploads/images/@item.Images.FirstOrDefault(i => i.IsMain)?.Name" alt="dd" width="260" height="270" class="product-thumnail">
                                            </a>
                                        </div>
                                        <div class="info">
                                                            <b class="categories">
                                                                @if (item.Category.ParentName != null)
                                                                {
                                                                    @item.Category.ParentName
                                                                }
                                                                else
                                                                {
                                                                    @item.Category.Name
                                                                }
                                                            </b>
                                                            <b class="categories" style="visibility:hidden;">
                                                                @if (item.Category.ParentId != null)
                                                                {
                                                                    @item.Category.ParentId
                                                                }
                                                                else
                                                                {
                                                                    @item.CategoryId
                                                                }
                                                            </b>
                                                           
                                            
                                            <h4 class="product-title"><a asp-action="details" asp-route-id="@item.Id" class="pr-name">@item.Name</a></h4>
                                            <div class="price">
                                                <ins><span class="price-amount"><span class="currencySymbol">£</span>@item.Price</span></ins>
                                               
                                            </div>
                                            <div class="shipping-info">
                                                <p class="shipping-day">3-Day Shipping</p>
                                                <p class="for-today">Pree Pickup Today</p>
                                            </div>
                                            <div class="slide-down-box">
                                                <p class="message">All products are carefully selected to ensure food safety.</p>
                                                <div class="buttons">
                                                    <a href="javascript:addToFavorites(@item.Id)" class="btn wishlist-btn"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                                    <a href="javascript:addToFavorites(@item.Id)" class="btn add-to-cart-btn"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>add to cart</a>
                                                    <a  class="btn compare-btn" onclick="addToBasket(event) data-product-id=" @item.Id""><i class="fa fa-random" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }



