@model PagedViewModel<BlogPost>


<div class="row">
    <!-- Begin Li's Main Content Area -->
    <div class="col-lg-12" >
        <div class="row li-main-content"style="display:flex; flex-wrap:wrap;">

            @foreach (var item in Model.Items)
            {
                <li class="post-elem col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="post-item effect-04 style-bottom-info">
                        <div class="thumbnail">
                            <a asp-action="Details" asp-route-slug="@item.Slug" class="link-to-post"><img src="~/uploads/images/@item.ImagePath" width="370" height="270" alt=""></a>
                        </div>
                        <div class="post-content">
                            <h4 class="post-name"><a asp-action="Details" asp-route-slug="@item.Slug" class="linktopost">@item.Title</a></h4>
                            <p class="post-archive"><b class="post-cat"></b><span class="post-date"> @item.PublishedDate?.ToString("dd MMM yyyy")</span></p>
                            
                            <div class="group-buttons">
                                <a asp-action="Details" asp-route-slug="@item.Slug" class="btn readmore">read more</a>
                                
                            </div>
                        </div>
                    </div>
                </li>
            }
            <!-- Begin Li's Pagination Area -->
            
            <!-- Li's Pagination End Here Area -->
        </div>
    </div>
    <!-- Li's Main Content Area End Here -->
</div>